
<div align="center" style="width:1005; text-align: center">
	<h2>Schedule of Placement Process by #{employerSchedule.placementSchedule.campus.alias}</h2>
	<h2>for #{employerSchedule.placementSchedule.placementRegistration.placement.rolloutStart} - #{employerSchedule.placementSchedule.placementRegistration.placement.rolloutEnd} period</h2>
	<h2>#{employerSchedule.placementSchedule.campus.university.name}</h2>
</div>

<b>To #{employerSchedule.employer.name}</b>
We are pleased to invite you for the placement drive in our #{placementSchedule.campus.alias} during #{employerSchedule.placementSchedule.placementRegistration.placement.rolloutStart} - #{employerSchedule.placementSchedule.placementRegistration.placement.rolloutEnd} period in #{employerSchedule.placementSchedule.placementRegistration.placementCategory.value}.
To facilitate the process for interviews, accessing CV’s, short listing etc please access the below link:
www.i2par/schedule/.com

Access Credentials 
Login: #{user.name}
Password: #{user.password}

<b>The recipient of this mail can access the i2PAR portal with the above access credentials only during the #{employerSchedule.placementSchedule.placementRegistration.placement.rolloutStart} - #{employerSchedule.placementSchedule.placementRegistration.placement.rolloutEnd} period. Exceptions can not be entertained.
Password mentioned here can be used at anytime to access the system during the valid period irrespective of changes.</b> 
